<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gabriel.aberturadechamados">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logosincaesp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/main_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AbrirChamadoActivity"
            android:label="@string/title_activity_abrir_chamado"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gabriel.aberturadechamados.MainActivity" />
        </activity>
        <activity
            android:name=".VisualizarChamadoActivity"
            android:label="@string/title_activity_visualizar_chamado"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gabriel.aberturadechamados.MainActivity" />
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroUsuarioActivity"
            android:label="@string/title_activity_cadastro_usuario"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gabriel.aberturadechamados.LoginActivity" />
        </activity>
        <activity
            android:name=".MainAdmActivity"
            android:label="@string/title_activity_main_adm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VisualizarAdmActivity"
            android:label="@string/title_activity_visualizar_adm"
            android:parentActivityName=".MainAdmActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.gabriel.aberturadechamados.MainAdmActivity" />
        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainMenuAdmActivity"
            android:label="@string/title_activity_main_menu_adm"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>